
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  background-color: thistle;
  /* max-width: 600px; */


}
header {
  background-color: purple;
  color: #fff;
  padding: 20px;
  display: flex;
  font-size: xx-large;
}


 .container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 20px 120px 0 120px;
  /* margin-top: 20px; */
}

form label {
  margin-bottom: 8px;
}

form input[type="text"]{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 12px;
}



button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  color: #fff;
  background-color: purple;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: plum;
}

img {
  height: 450px;
  width: 600px;
  background-color: #f2f2f2;
  border-radius: 8px;
  margin: 0px 420px;
  /* margin: 20px; */
}

.error-message {
  color: #f44336;
  font-size: 14px;
  margin-bottom: 8px;
}